.categories_box.category_box_toggle
  .col-md-8

    - Category.roots.map{|c| [c, c.children]}.flatten.in_groups_of(13, false).each do |group|
      .col-md-4
        - group.each do |category|
          - if category.root?
            .category_header
              = category.name
          - else
            .category_item
              = link_to category.name, category_goods_path(category)

  .col-md-4.text-center
    = image_tag('eva.jpg')
