.row.menu
  .col-md-4
  .col-md-4
    .col-md-4.menu_item
      = link_to 'Каталог товаров', '#'
    .col-md-4.menu_item
      = link_to 'Распродажа', '#'
    .col-md-4.menu_item
      = link_to 'Оплата и доставка', '#'
  .col-md-4