%div.menu
  .menu_items
    %li
      = link_to 'О нас', '#'
    %li
      = link_to 'Доставка и оплата', '#'
    %li
      = link_to 'Договор публичной оферты', '#'
    %li
      = link_to 'Таблица размеров', '#'
