.row
  .col-xs-3
  .col-xs-6
    .col-xs-4.text-left
      [TODO: add some content]

    .col-xs-4.text-center
      = link_to image_tag('non-transparent-background.png', style: 'height:140px') , root_path

    .col-xs-4.text-right
      [TODO: add some content]
      [TODO: N links to brands with descriptions]
      [TODO: awesome idea!]
  .col-xs-3
