.row
  .col-md-3
  .col-md-6
    .col-md-4.text-left
      da

    .col-md-4.text-center
      = link_to image_tag('non-transparent-background.png', style: 'height:140px') , root_path

    .col-md-4.text-right
      da
  .col-md-3
