.navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          -# потому что как то нам надо на главную попадать
          = link_to 'Fresh style', root_path, title: 'На Главную страницу'
        %li
          = link_to 'Обратная связь', new_feedback_path
        %li
          = link_to 'Товары', '#', class: 'category_box_toggle'


      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Корзина', baskets_path