.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path} Свежий стиль
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              = link_to t('good.goods'), goods_path
            %li
              %a{:href => "#about"} О нас
            %li
              %a{:href => "#contact"} Как оплатить
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to 'Корзина', baskets_path

            - if user_signed_in?

              - if current_user.is_admin
                %li
                  = link_to 'Кабинет администратора', admin_root_path
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %span.glyphicon.glyphicon-off
                  Выход
