.navbar.navbar-default
  .container-fluid
    .navbar-collapse
      %ul.nav.navbar-nav.nav-justified
        - Category.roots.includes(:children).each do |cat|
          %li.dropdown
            = link_to cat.name, '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, style: 'font-size:14pt;'
            %ul.dropdown-menu{ role: 'menu', style: 'width:100%;' }
              - cat.children.each do |subcat|
                %li
                  = link_to subcat.name, category_goods_path(subcat), style: 'font-size:12pt;'