.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ data: { target: '#bs-example-navbar-collapse-1', toggle: 'collapse' }, type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        - pages.each do |page|
          %li
            = link_to page.title, page
        - if Good.on_sale.any?
          %li
            = link_to 'SALE', sale_goods_path
        - if Good.gifts.any?
          %li
            = link_to 'Подарки', gifts_goods_path
