default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  user: styler
  password: qwerty
  host: localhost

development:
  <<: *default
  database: freshstyle_development

test:
  <<: *default
  database: freshstyle_test

production:
  <<: *default
  database: freshstyle_production
  username: freshstyle
  password: <%= ENV['FRESHSTYLE_DATABASE_PASSWORD'] %>
