.col-md-3.text-center
  .row.image
    = image_tag('eva.jpg')
  .row
    = link_to 'More', good_path(Good.first)
  .row
    Escada
  .row
    Category

  .row.prices
    .col-md-offset-2
    .col-md-4
      24 000
    .col-md-4
      23 500
  .row.discount_procents
  .row.sizes
    Sizes
  .row
    size1 size2