- content_for :meta_tags do
  = @filter.category.meta_tags.try(:html_safe)

.page-header
  %h3
    #{@filter.category.name}

- @goods.each do |wrapper|
  .h2
    = link_to  wrapper[:category].name, category_goods_path(wrapper[:category])
  .row
    - wrapper[:goods].each do |good|
      - if good
        = render partial: 'good_cell', locals: { good: good }
  %hr