.row
  Short info and pagination

.row
  .col-md-2
    images
  .col-md-6
    big image
  .col-md-4
    information
    .row
      Good Type, Good Brand
    .row
      good price + good discount
    .row
      Choose Size:
    .row
      Sizes
    .row
      = link_to 'Sizes talbe', '#'
    .row
      = link_to 'Add to korzina', '#'
    .row
      consist and conditions
    .row
      likes and sharing