%p
  Привет, #{@resource.email}!
%p Кто-то запросил ссылку для восстановления пароля от админки. Чтобы восстановить пароль воспользуйтесь ссылкой ниже.
%p= link_to 'Восстановить пароль', edit_password_url(@resource, reset_password_token: @token)
%p Если Вы не запрашивали восстановление пароля, то просто проигнорируйте это письмо.
%p Ваш пароль не будет изменен пока Вы не перейдете по ссылке выше и не установите новый пароль.
