.menu {
    height: 50px;
    background-image: url('/assets/navbar-background.jpg');
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: rgb(218, 245, 189);
}

.footer_menu {
    height: 50px;
    background-image: url('/assets/navbar-background.jpg');
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: rgba(56, 8, 8, 0.24);
    text-align: center;
}

.menu a {
    color: #6D701C;
}

.footer_menu a {
    color: #6D701C;
}

.menu_item
{
    line-height: 45px;
    font-weight: bold;
    vertical-align: middle;
    text-decoration: none;
    color: #526837;
    text-align: center;
}

.categories_box {
    position: absolute;
    top: 240px;
    left: 500px;
    width: 900px;
    height: 400px;
    z-index: 2;
    background-color: #ffffff;
    /*opacity: 0;*/
    display: none;
    border: 1px solid rgb(218, 245, 189);
}

.content-wrapper
{
    background-color: grey;
    padding-top: 5px;
    padding-bottom: 40px;
}

.content-block
{
    background-color: #ffffff;
}

.good_container {
    width: 200px;
}